{% for level in site.data.sponsors[include.year] %}
<h3>{{level[0] | capitalize }}</h3>
<ul class="sponsors {{ level[0] }}">
    {% for sponsor in level[1] %}
    <li>
        {% if sponsor.link %}<a href="{{ sponsor.link }}" target="_blank" rel="noopener">{% endif %}
            {% if sponsor.logo %}
                {% assign logosplit = sponsor.logo | split: '.' %}
                {% if logosplit[1] == 'svg' %}
                    {% include_relative images/sponsors-{{ include.year }}/{{ sponsor.logo }} %}
                {% else %}
                    <img alt="{{ sponsor.name }}" title="{{ sponsor.name }}" src="/images/sponsors-{{ include.year }}/{{ sponsor.logo }}">
                {% endif %}
            {% else %}
            {{ sponsor.name }}
            {% endif %}
        {% if sponsor.link %}</a>{% endif %}
        <span>{{ sponsor.for }}</span>
    </li>
    {% endfor %}
</ul>
{% endfor %}
