---
layout: compress
---
<!doctype html>
<html>

{% include head.html %}

    <body class="{{ layout.body-class | default: "default" }}{% if site.show_alert %} with-alert{% endif %}">
        <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {% if site.show_alert %}
        {% capture alert_include %}{% include alert-bar.md %}{% endcapture %}
        <div class="alert-bar">
        {{ alert_include | markdownify }}
        </div>
        {% endif %}
        {{ content }}

    {% include footer.html %}

    </body>
</html>