---
layout: generic
---
<div>
    <a href="/blog">Back to All Posts</a>
</div>
<div class="blog-section">
    <h3 class="post-title">{{ page.title }}</h3>
    <h6 class="post-subheader">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
    </h6>
    <div class="post-excerpt">
        <p>{{ content }}</p>
    </div>
    <div>
        <a class="post-footer-link" href="/blog">Back to All Posts</a>
    </div>
</div>
